.intro {
    position: fixed;
    right: 0;
    top: 0;
    font-family: sans-serif;
    background-color: #DDD;
    padding: 0.5em;
}

.intro button {

}

/*
 color: #000;
    background-color: #DDD;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 50%;
    padding: 0.5em 0.75em;
 */

.hidden {
    display: none;
}